In [1]:
#Import Library
import pandas as pd

In [2]:
#Import Dataset
data=pd.read_csv('Police_Use_of_Force.csv')

In [3]:
#show data columns
data.columns

Index(['X', 'Y', 'PoliceUseOfForceID', 'CaseNumber', 'ResponseDate', 'Problem',
       'Is911Call', 'PrimaryOffense', 'SubjectInjury', 'ForceReportNumber',
       'SubjectRole', 'SubjectRoleNumber', 'ForceType', 'ForceTypeAction',
       'Race', 'Sex', 'EventAge', 'TypeOfResistance', 'Precinct',
       'Neighborhood', 'TotalCityCallsForYear', 'TotalPrecinctCallsForYear',
       'TotalNeighborhoodCallsForYear', 'CenterGBSID', 'CenterLatitude',
       'CenterLongitude', 'CenterX', 'CenterY', 'DateAdded', 'OBJECTID'],
      dtype='object')

In [12]:
subject_tb=data[['OBJECTID','Race','Sex','EventAge','SubjectInjury','SubjectRole','SubjectRoleNumber','TypeOfResistance']]
subject_tb=subject_tb.rename(columns={'OBJECTID':'subject_id','Race':'race','Sex':'sex','EventAge':'age',
                                     'SubjectInjury':'has_injury','SubjectRole':'role',
                                     'SubjectRoleNumber':'role_number','TypeOfResistance':'resistance'})
subject_tb.head()

,subject_id,race,sex,age,has_injury,role,role_number,resistance
0,1,Black,Male,28.0,NaN,A,1.0,Fled in Vehicle
1,2,Black,Male,32.0,Yes,A,1.0,Assaulted Officer
2,3,White,Male,26.0,Yes,A,1.0,Fled in Vehicle
3,4,Black,Male,18.0,No,OT,1.0,Tensed
4,5,Black,Male,26.0,NaN,A,1.0,Tensed

In [ ]:
case_tb=data[[]]

case
-
case_id = OBJECTID
case_number = CaseNumber
is_911_call = Is911Call
problem = Problem
primary_offense = PrimaryOffense
date = ResponseDate
latitude = CenterLatitude
longitude = CenterLongitude
city_id = ?
precinct_id = Precinct
neighborhood_id = Neighborhood

In [32]:
temp=data[['X','Y']]
temp['X'].apply(lambda x: float(x))
temp['Y'].apply(lambda x: float(x))
temp=temp[(temp['X']!=0)&(temp['Y']!=0)]

In [34]:
temp.describe()

                  X             Y
count  30982.000000  30982.000000
mean     -93.274625     44.978649
std        0.022096      0.027120
min      -93.328628     44.890460
25%      -93.291053     44.960916
50%      -93.273516     44.979986
75%      -93.262672     44.998586
max      -93.202917     45.051245