In [1]:
#Import Library
#SQLAlchemy relatives
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

#Config relatives
import sys
sys.path.insert(1,('../..'))#1 means staring with the jupyter notebok file path
sys.path
import config

#general
import pandas as pd

# Extract

In [2]:
#Import Dataset
data=pd.read_csv('../data/external/police_force.csv')

# Transform

In [3]:
#show data columns
data.columns

Index(['X', 'Y', 'PoliceUseOfForceID', 'CaseNumber', 'ResponseDate', 'Problem',
       'Is911Call', 'PrimaryOffense', 'SubjectInjury', 'ForceReportNumber',
       'SubjectRole', 'SubjectRoleNumber', 'ForceType', 'ForceTypeAction',
       'Race', 'Sex', 'EventAge', 'TypeOfResistance', 'Precinct',
       'Neighborhood', 'TotalCityCallsForYear', 'TotalPrecinctCallsForYear',
       'TotalNeighborhoodCallsForYear', 'CenterGBSID', 'CenterLatitude',
       'CenterLongitude', 'CenterX', 'CenterY', 'DateAdded', 'OBJECTID'],
      dtype='object')

In [4]:
#add year, month, day, hour into dataset
data['date']=data['ResponseDate'].apply(lambda x:x.split(' ')[0])
data['time']=data['ResponseDate'].apply(lambda x:x.split(' ')[1])
data['year']=data['date'].apply(lambda x:x.split('/')[0])
data['month']=data['date'].apply(lambda x:x.split('/')[1])
data['day']=data['date'].apply(lambda x:x.split('/')[2])
data['hour']=data['time'].apply(lambda x:x.split(':')[0])

In [5]:
#drop duplicates columns
data = data.drop(['X','Y','CenterX','CenterY','DateAdded'],axis=1)

In [6]:
#drop the data in year 1970 (too old)
year_1970_data_list=data[data['year']=='1970'].index
data=data.drop(year_1970_data_list,axis=0)

### subject_tb

In [7]:
#catch the needed columns
subject_tb = data[['OBJECTID','Race','Sex','EventAge','SubjectInjury','SubjectRole','SubjectRoleNumber',
                   'TypeOfResistance']].copy()
#change column name
subject_tb = subject_tb.rename(columns={'OBJECTID':'subject_id','Race':'race','Sex':'sex','EventAge':'age',
                                     'SubjectInjury':'has_injury','SubjectRole':'role',
                                     'SubjectRoleNumber':'role_number','TypeOfResistance':'resistance'})
#transform data
#age
subject_tb['age'].fillna(-1,inplace=True)
subject_tb['age'] = subject_tb['age'].astype('int')

#role_number
subject_tb['role_number'].fillna(-1,inplace=True)
subject_tb['role_number'] = subject_tb['role_number'].astype('int')

#sex
subject_tb['sex'].fillna('Unknown',inplace=True)
subject_tb['sex'].replace('not recorded','Unknown',inplace=True)

#role
subject_tb['role'].fillna('Unknown',inplace=True)
#subject_tb['role']=subject_tb['role'].apply(lambda x: str(x).strip().replace('PERSON IN CRISIS','PIC'))
subject_tb['role']=subject_tb['role'].apply(lambda x: x.replace('null','Unknown'))

#race
subject_tb['race'].fillna("Unknown",inplace=True)
subject_tb['race']=subject_tb['race'].replace(['Unknown','not recorded'],'Unknown')

#resistance
subject_tb['resistance'].fillna("Unknown",inplace=True)
subject_tb['resistance']=subject_tb['resistance'].apply(lambda x:x.lower().strip()).replace('null','Unknown')

#preview
subject_tb.head()

,subject_id,race,sex,age,has_injury,role,role_number,resistance
0,1,Black,Female,25,Yes,A,1,assaulted officer
1,2,Black,Male,39,Yes,A,2,commission of crime
2,3,White,Male,29,No,OT,1,verbal non-compliance
3,4,Black,Male,19,Yes,A,1,commission of crime
4,5,Black,Male,40,No,A,1,fled on foot

In [8]:
#save as csv file
subject_tb.to_csv('../data/subject_tb.csv',index=False)

### city_tb

In [9]:
#catch the needed columns
city_tb = pd.DataFrame({'city_id':1,'city_name':'Minneapolis'},index=[0])

#preview
city_tb.head()

   city_id    city_name
0        1  Minneapolis

In [10]:
#save as csv file
city_tb.to_csv('../data/city_tb.csv',index=False)

### city_summary_tb

In [11]:
#catch the needed columns
city_summary_tb = data[['year','TotalCityCallsForYear']].copy()

#drop duplicates
city_summary_tb = city_summary_tb.drop_duplicates()

#create city_id
city_summary_tb['city_id'] = 1


#create city_summary_id
city_summary_tb = city_summary_tb.reset_index(drop=True)
city_summary_tb = city_summary_tb.reset_index()
city_summary_tb['index']=city_summary_tb['index'].apply(lambda x:x+1)

#change column orders
city_summary_tb = city_summary_tb[['index','city_id','year','TotalCityCallsForYear']]

#change columns name
city_summary_tb = city_summary_tb.rename(columns={'index':'city_summary_id',
                                                  'TotalCityCallsForYear':'total_calls'})

#preview
city_summary_tb.head()

   city_summary_id  city_id  year  total_calls
0                1        1  2008       322402
1                2        1  2009       316150
2                3        1  2010       314926
3                4        1  2011       313095
4                5        1  2012       324520

In [12]:
#save as csv file
city_summary_tb.to_csv('../data/city_summary_tb.csv',index=False)

### precinct_tb

In [13]:
#crate precint_dict for reference
precinct_list=list(data['Precinct'].unique())
precinct_list[-4]='Unknown'
precinct_dict={}
n=0
for i in (precinct_list):
    n=n+1
    precinct_dict.update({i:n})

In [14]:
#catch the needed columns
precinct_tb = data['Precinct']

#drop duplicates and fill na
precinct_tb = precinct_tb.drop_duplicates().fillna("Unknown")

#create precinct_id
precinct_tb = precinct_tb.reset_index(drop=True).reset_index()
precinct_tb['index'] = precinct_tb['Precinct'].apply(lambda x:precinct_dict[x])

#chagne column name
precinct_tb = precinct_tb.rename(columns={'index':'precinct_id','Precinct':"precinct_name"})

#preview
precinct_tb.head()

   precinct_id precinct_name
0            1            02
1            2            05
2            3            04
3            4            01
4            5            03

In [15]:
#save as csv file
precinct_tb.to_csv('../data/precinct_tb.csv',index=False)

### precinct_summary

In [16]:
#catch the needed columns
precinct_raw = data['Precinct'].copy()

#fill na
precinct_raw = precinct_raw.fillna("Unknown").reset_index(drop=True).reset_index()

#create precinct_id by referece back to precint_dict 
precinct_raw['index'] = precinct_raw['Precinct'].apply(lambda x:precinct_dict[x])

#chagne column name
precinct_raw =precinct_raw.rename(columns={'index':'precinct_id','Precinct':"precinct_name"})

In [17]:
#add year data
precinct_summary_tb_b4=precinct_raw.join(data['year'])

#assign count as 1 for sum up
precinct_summary_tb_b4['count']=1

In [18]:
#get a list of the sum of total calls grouped by ['precinct_id','precinct_name','year']
total=(precinct_summary_tb_b4.groupby(['precinct_id','precinct_name','year']).sum())['count']
total_list = list(total)

In [19]:
#catch the needed columns
precinct_summary_tb = precinct_summary_tb_b4.dropna().sort_values(
    ['precinct_id','precinct_name','year']).drop_duplicates().reset_index(drop=True).reset_index()

#create precicnt_summary_id
precinct_summary_tb['index'] = precinct_summary_tb['index'].apply(lambda x:x+1)
precinct_summary_tb = precinct_summary_tb.rename(columns = {'index':'precinct_summary_id'})

#drop unused column
precinct_summary_tb = precinct_summary_tb.drop(['count','precinct_name'],axis=1)

#assign value to total_calls column
precinct_summary_tb['total_calls'] = total_list

#preview
precinct_summary_tb.head()

   precinct_summary_id  precinct_id  year  total_calls
0                    1            1  2008          337
1                    2            1  2009          327
2                    3            1  2010          242
3                    4            1  2011          222
4                    5            1  2012          240

In [20]:
#save as csv file
precinct_summary_tb.to_csv('../data/precinct_summary_tb.csv',index=False)

### neightborhood_tb

In [21]:
#crate neighborhood_dict for reference
neighborhood_list = list(data['Neighborhood'].fillna('Unknown').drop_duplicates())
neighborhood_dict={}
n=0
for i in neighborhood_list:
    n=n+1
    neighborhood_dict.update({i:n})

In [22]:
#create neighborhood_tb
neighborhood_tb = pd.DataFrame({'neighborhood_id':list(neighborhood_dict.values()),
                                'neighborhood_name':list(neighborhood_dict.keys())})

#preview
neighborhood_tb.head()

   neighborhood_id neighborhood_name
0                1         Bottineau
1                2          Whittier
2                3         Cleveland
3                4        North Loop
4                5   Ventura Village

In [23]:
#save as csv file
neighborhood_tb.to_csv('../data/neighborhood_tb.csv',index=False)

### neightborhood_summary_tb

In [24]:
#catch the needed columns
neighborhood_summary_raw = data[['Neighborhood','year']].copy()

#assign count as 1 for sum up
neighborhood_summary_raw['count']=1

#create neighborhood_id by referece back to neighborhood_dict 
neighborhood_summary_raw['neighborhood_id']=neighborhood_summary_raw['Neighborhood'].fillna('Unknown')\
                                            .apply(lambda x:neighborhood_dict[x])

#drop unused column
neighborhood_summary_raw = neighborhood_summary_raw.drop('Neighborhood',axis=1)

In [25]:
#get a list of the sum of total calls grouped by ['neighborhood_id','year']
total=(neighborhood_summary_raw.groupby(['neighborhood_id','year']).sum())['count']
total_list = list(total)

In [26]:
#catch the needed columns
neighborhood_summary_tb = neighborhood_summary_raw.copy()

#drop duplicate and order by []'neighborhood_id',='year']
neighborhood_summary_tb = neighborhood_summary_tb.drop('count',axis=1)
neighborhood_summary_tb = neighborhood_summary_tb.drop_duplicates().sort_values(['neighborhood_id','year'])

#assign total_calls value
neighborhood_summary_tb['total_calls'] = total_list

#create neighborhood_summary_id
neighborhood_summary_tb = neighborhood_summary_tb.reset_index(drop=True).reset_index()
neighborhood_summary_tb['index'] = neighborhood_summary_tb['index'].apply(lambda x:x+1)
neighborhood_summary_tb = neighborhood_summary_tb.rename(columns={'index':'neighborhood_summary_id'})

#change column order
neighborhood_summary_tb= neighborhood_summary_tb[['neighborhood_summary_id','neighborhood_id',
                                                  'year','total_calls']]

#preview
neighborhood_summary_tb.head()

   neighborhood_summary_id  neighborhood_id  year  total_calls
0                        1                1  2008           22
1                        2                1  2009           23
2                        3                1  2010           12
3                        4                1  2011            5
4                        5                1  2012            7

In [27]:
#save as csv file
neighborhood_summary_tb.to_csv('../data/neighborhood_summary_tb.csv',index=False)

### force_categories_tb

In [28]:
#catch the needed columns
force_categories_tb = data['ForceType'].copy()

#fill na
force_categories_tb.fillna("Unknown",inplace=True)

#create force_category_id 
force_categories_tb = force_categories_tb.drop_duplicates().reset_index(drop=True).reset_index()
force_categories_tb['index']=force_categories_tb['index'].apply(lambda x:x+1)

#change column name
force_categories_tb = force_categories_tb.rename(columns={'index':'force_category_id','ForceType':'category'})

#make category lower cast
force_categories_tb['category']=force_categories_tb['category'].apply(lambda x:x.lower())

#preview
force_categories_tb.head()

   force_category_id           category
0                  1       bodily force
1                  2              taser
2                  3              baton
3                  4     police k9 bite
4                  5  improvised weapon

In [29]:
#save as csv file
force_categories_tb.to_csv('../data/force_categories_tb.csv',index=False)

### police_force

In [30]:
#crate force_dict for reference
force_dict={}
for i in range(len(force_categories_tb)):
    force_dict.update({force_categories_tb.iloc[i,1]:force_categories_tb.iloc[i,0]})

In [31]:
#catch the needed columns
police_force_tb = data[['ForceType','OBJECTID','PoliceUseOfForceID','ForceReportNumber','ForceTypeAction']].copy()

#fill na
police_force_tb.fillna("Unknown",inplace=True)

#create force_category_id
police_force_tb['force_category_id'] = police_force_tb['ForceType'].apply(lambda x: force_dict[x.lower()])

#create police_force_id
police_force_tb = police_force_tb.reset_index(drop=True).reset_index()
police_force_tb['index']=police_force_tb['index'].apply(lambda x :x+1)
police_force_tb = police_force_tb[["index",'PoliceUseOfForceID','force_category_id',
                                   'ForceTypeAction','ForceReportNumber','OBJECTID']]

#rename column
police_force_tb = police_force_tb.rename(columns={'index':'police_force_id','PoliceUseOfForceID':'force_number',
                                                 'ForceTypeAction':'force_action',
                                                  'ForceReportNumber':"force_report_number",
                                                 'OBJECTID':'subject_id'})

#transfrom data
police_force_tb['force_action']=police_force_tb['force_action'].replace('0','Unknown')
police_force_tb['force_action']=police_force_tb['force_action'].apply(lambda x:x.lower())
police_force_tb['force_action']=police_force_tb['force_action'].replace('no data','Unknown')
police_force_tb['force_action']=police_force_tb['force_action'].apply(lambda x:x.replace('unknown','Unknown'))

#preview
police_force_tb.head()

,police_force_id,force_number,force_category_id,force_action,force_report_number,subject_id
0,1,15500817,1,push away,1,1
1,2,15500818,2,firing darts,1,2
2,3,15500819,2,firing darts,1,3
3,4,15500820,3,strikes,2,4
4,5,15500821,1,body weight to pin,2,5

In [32]:
#save as csv file
police_force_tb.to_csv('../data/police_force_tb.csv',index=False)

### case_tb

In [33]:
#catch the needed columns
case_tb=data[['CaseNumber','Is911Call','Problem','PrimaryOffense','ResponseDate','CenterLatitude',
             'CenterLongitude','Precinct','Neighborhood']].copy()

#rename columns
case_tb=case_tb.rename(columns={'CaseNumber':'case_number','Is911Call':'is_911_call',
                       'Problem':'problem','PrimaryOffense':'primary_offense','CenterLatitude':'latitude',
                       'CenterLongitude':'longitude','Precinct':'precinct_id','Neighborhood':'neighborhood_id'})

#transform
case_tb['date']=case_tb['ResponseDate'].apply(lambda x:x.split(' ')[0])
case_tb['time']=case_tb['ResponseDate'].apply(lambda x:x.split(' ')[1])
case_tb['year']=case_tb['date'].apply(lambda x:x.split('/')[0])
case_tb['month']=case_tb['date'].apply(lambda x:x.split('/')[1])
case_tb['day']=case_tb['date'].apply(lambda x:x.split('/')[2])
case_tb['hour']=case_tb['time'].apply(lambda x:int(x.split(':')[0]))
case_tb['date']=case_tb['date'].apply(lambda x:x.replace("/",""))

#create neighborhhod_id
case_tb['neighborhood_id'] = case_tb['neighborhood_id'].fillna('Unknown')
case_tb['neighborhood_id']=case_tb['neighborhood_id'].apply(lambda x:neighborhood_dict[x])

#create city_id
case_tb['city_id']=1

#drop unused column
case_tb=case_tb.drop(['ResponseDate','time'],axis=1)

#fill na
case_tb['hour']=case_tb['hour'].fillna("-1")
case_tb['problem'].fillna('Unknown',inplace=True)

#modfiy probelm to lower cast
case_tb['problem']=case_tb['problem'].apply(lambda x: x.lower())
case_tb['problem']=case_tb['problem'].apply(lambda x: x.replace('unknown','Unknown'))

#create precinct_id by referecne precinct_dict
case_tb['precinct_id'].fillna('Unknown',inplace=True)
case_tb['precinct_id']=case_tb['precinct_id'].apply(lambda x: precinct_dict[x])

#create primary_offense
case_tb['primary_offense'].fillna("Unknown",inplace=True)
case_tb['primary_offense']=case_tb['primary_offense'].apply(lambda x:x.strip())

#create case_id
case_tb=case_tb.reset_index(drop=True).reset_index()
case_tb=case_tb.rename(columns={'index':'case_id'})

#create police_force_id
case_tb['police_force_id']=case_tb['case_id'].apply(lambda x: x+1)

#modifiy case_id
case_tb['case_id']=case_tb['case_id'].apply(lambda x: x+1)

#chagne column order
case_tb=case_tb[['case_id','case_number','is_911_call','problem','primary_offense','date','latitude',
                'longitude','city_id','precinct_id','neighborhood_id','police_force_id','year','month',
                 'day','hour']]

#preview
case_tb.head()

,case_id,case_number,is_911_call,problem,primary_offense,date,latitude,longitude,city_id,precinct_id,neighborhood_id,police_force_id,year,month,day,hour
0,1,08-000127,No,suspicious person,DISCON,20080101,45.008036,-93.271699,1,1,1,1,2008,01,01,1
1,2,08-002126,Yes,fight,ASLT3,20080102,44.948347,-93.280523,1,2,2,2,2008,01,02,22
2,3,08-014491,No,check the welfare,CIC,20080115,45.022277,-93.310208,1,3,3,3,2008,01,15,3
3,4,08-043740,Yes,fight,LIQLIC,20080215,44.986175,-93.270133,1,4,4,4,2008,02,15,1
4,5,08-054881,No,suspicious person,OBSTRU,20080226,44.963324,-93.265106,1,5,5,5,2008,02,26,16

In [34]:
#save as csv file
case_tb.to_csv('../data/case_tb.csv',index=False)

# Load

In [35]:
#username and password
username = config.username
password = config.password

In [36]:
# Create SQL Engine
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/police_force")

# Reflect the schema already exists in postgresSQL
Base = automap_base()
Base.prepare(engine, reflect = True)

# Show the existing table names
Base.classes.keys()

['city',
 'case',
 'neighborhood',
 'police_force',
 'force_categories',
 'subject',
 'precinct',
 'city_summary',
 'precinct_summary',
 'neighborhood_summary']

In [37]:
csv_files ={
    'city':'city_tb.csv',
    'city_summary':'city_summary_tb.csv',
    'precinct':'precinct_tb.csv',
    'precinct_summary':'precinct_summary_tb.csv',
    'neighborhood':'neighborhood_tb.csv',
    'neighborhood_summary':'neighborhood_summary_tb.csv',
    'force_categories':'force_categories_tb.csv',
    'subject':'subject_tb.csv',
    'police_force':'police_force_tb.csv',
    'case':'case_tb.csv'
}

In [38]:
# Import dataset into database
path = '../data/'
for table,file in csv_files.items():
    full_path=path+f'{file}'
    data=pd.read_csv(full_path)
    try:
        print(f'{table} is loading.')
        data.to_sql(name = f'{table}', con = engine, if_exists = 'append', index = False)
        print(f'\t {table} import successed.')
    except:
        print(f'!!!!Failed to import {table}.')

city is loading.
	 city import successed.
city_summary is loading.
	 city_summary import successed.
precinct is loading.
	 precinct import successed.
precinct_summary is loading.
	 precinct_summary import successed.
neighborhood is loading.
	 neighborhood import successed.
neighborhood_summary is loading.
	 neighborhood_summary import successed.
force_categories is loading.
	 force_categories import successed.
subject is loading.
	 subject import successed.
police_force is loading.
	 police_force import successed.
case is loading.
	 case import successed.